.library {
  width: 100%;
  overflow: auto;

  display: flex;
}

.library .content {
  width: 100%;
  padding: 40px;
}

/* Snackbar loading icon */
.loadingIcon {
  animation: spin 2s linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}