/* Button */
button {
  font-size: 25px;
  color: var(--white);
  background: var(--primary-green);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
  display: block;

  transition: filter 200ms;
}

button:hover {
  background: var(--primary-green-dark);
}

button.fullWidth {
  width: 100%;
}

.disabled {
  pointer-events: none;
  opacity: 0.8;
}

/* IconWrapper */
.iconWrapper {
  padding: 1px;
  border-radius: 2px;
  cursor: pointer;
  transition: background 150ms ease;
  color: var(--white);

  display: inline-flex;
  flex-direction: row;
  align-items: center;
}

/* Chevron */
.iconWrapper.chevron:hover {
  background: var(--primary-blue);
}

.chevronIcon {
  transition: all 250ms ease;
}

.chevronIcon.open {
  transform: rotate(180deg);
}

/* CloseIcon */
.iconWrapper.close:hover {
  background: var(--primary-red);
}

/* Toggle Switch */
.switch {
  position: relative;
  display: inline-block;
  width: 100px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.switch .slider {
  position: absolute;
  cursor: pointer;
  inset: 0;
  background: var(--primary-red);
  transition: .4s;
  border-radius: 5px;
}

.switch .slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background: var(--white);
  transition: .4s;
  border-radius: 50%;
}

.switch .value {
  color: var(--white);
  pointer-events: none;
  transition: opacity .4s;

  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.switch .value.off {
  right: 4px;
}

.switch .value.on {
  left: 4px;
  opacity: 0;
}

.switch input:checked + .slider {
  background: var(--primary-green);
}

.switch input:checked + .slider:before {
  left: calc(100% - 4px);
  transform: translateX(-100%);
}

.switch input:checked ~ .value.off {
  opacity: 0;
}

.switch input:checked ~ .value.on {
  opacity: 1;
}