/* Button */
button {
  font-size: 25px;
  color: var(--white);
  background: var(--primary-green);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;

  transition: filter 200ms;
}

button:hover {
  background: var(--primary-green-dark);
}

button.fullWidth {
  width: 100%;
}