.fileBox {
  width: 250px;
  height: 250px;
  background: var(--primary-blue);
  padding: 10px;
  border-radius: 10px;
  border: solid 3px transparent;
  transition: border-color 0.2s ease;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.fileBox:hover {
  border: solid 3px var(--primary-green);
}

.fileBoxHeader {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.wrapperOptions {
  font-size: 18px;
  padding: 2px 0;
  border-radius: 4px;
  transition: background-color 0.2s ease;
  cursor: pointer;
  margin-left: auto;

  display: flex;
  flex-direction: row;
  align-items: center;
}

.wrapperOptions:hover {
  background: #333C75;
}

.options {
  display: block;
  color: var(--secondary-text);
}

/* fileBoxBody */
.fileBoxBody {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.fileIcon {
  color: var(--salmon);
  font-size: 55px;
}

.fileTitle {
  color: var(--white);
  font-size: 15px;
  text-align: center;
}

/* footer */
footer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* info */
.info {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fileSize header {
  color: var(--white);
  font-size: 14px;
}

.fileSize .size {
  color: var(--secondary-text);
  font-size: 16px;
}

/* Delete modal */
.deleteModal {
  width: 600px;
}

.deleteModal .wrapper {
  padding-top: 10px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.deleteModal .modalBody {
  color: var(--secondary-text);
  font-size: 16px;
}

.deleteModal .modalBody .fileName {
  color: var(--primary-green);
}

.deleteModal footer {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}

.deleteModal .button {
  font-size: 18px;
}

.cancelButton {
  background: var(--primary-text);
  padding: 4px;
}

.cancelButton:hover {
  background: rgb(159, 162, 181);
}

.deleteButton {
  background: var(--primary-red);
  padding: 4px;
}

.deleteButton:hover {
  background: rgb(249, 142, 136);
}

/* hide */
.hide {
  visibility: hidden;
}
