.fileLoading {
  display: flex;
  flex-direction: row;
  gap: 4px;
}

.fileIcon {
  color: #F19691;
  font-size: 45px;
}

.wrapper {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* wrapper info */
.wrapper .info {
  color: var(--secondary-text);

  display: flex;
  gap: 10px;
  align-items: center;
}

.wrapper .filename {
  font-size: 20px;
  color: var(--white);
}

.wrapper .fileSize {
  color: var(--secondary-text);
}

.wrapper .closeIcon {
  margin-left: auto;
  cursor: pointer;
}

/* progressBar */
.progressBar {
  width: 100%;
  height: 4px;
  border-radius: 8px;
  background: var(--secondary-text);
}

.progressBar .progressBarInner {
  /* width: 45%; */
  height: 100%;
  border-radius: 8px;
  background: var(--primary-green);
  transition: width 500ms;
}