.fileLoading {
  width: 100%;
  padding: 8px;
  border-radius: 5px;

  display: flex;
  flex-direction: column;
  gap: 8px;

  background-color: var(--background-dark);
}

.header {
  color: var(--white);  
  font-size: 18px;

  display: flex;
  justify-content: space-between;
}

.body {
  width: 100%;

  display: flex;
  flex-direction: row;
  gap: 4px;
}

.fileIcon {
  color: var(--salmon);
  font-size: 45px;
}

.content {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* content info */
.content .info {
  color: var(--secondary-text);

  display: flex;
  gap: 10px;
  align-items: center;
}

.content .filename {
  font-size: 16px;
  color: var(--white);
}

.content .fileSize {
  color: var(--secondary-text);
}

/* progressBar */
.progressBar {
  width: 100%;
  height: 6px;
  border-radius: 8px;
  background: var(--secondary-text);
}

.progressBar .progressBarInner {
  height: 100%;
  border-radius: 8px;
  background: var(--primary-green);
  transition: width 800ms;
}

/* Collapse content */
.collapseContent {
  max-width: 300px;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

.collapseContent .text {
  color: var(--white);
  font-size: 20px;
}