.searchBar {
  width: 100%;
  padding: 10px 15px;
  background: var(--background-light);
  border-radius: 16px;

  display: flex;
  flex-direction: row;
  gap: 8px;

  border: 2px solid transparent;
  transition: border-color 0.15s ease-in-out;
}

.searchBar input {
  width: 100%;
  height: 25px;
  color: var(--primary-green);
  font-size: 18px;
  background: transparent;
  border: none;
}
