.formField {
  width: 100%;
}

.formField label {
  font-size: 18px;
  color: var(--secondary-text);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formField input {
  font-size: 24px;
  color: var(--white);
  background: var(--background-dark);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

.error {
  color: var(--primary-red);
  font-size: 16px;
}