.formField {
  width: 100%;
}

.formField label {
  font-size: 18px;
  color: var(--secondary-text);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.formField input {
  font-size: 24px;
  color: var(--white);
  background: var(--background-dark);
  padding: 5px 10px;
  border: solid 2px transparent;
  transition: border-color 0.2s ease;
  border-radius: 5px;
}

.formField input:hover {
  border-color: var(--primary-green);
}

.formField input:focus {
  border-color: var(--primary-green);
}

.error {
  color: var(--primary-red);
  font-size: 16px;
}