.select {
  font-size: 24px;
  color: var(--secondary-text);
  background: var(--background-dark);
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.collapseIcon {
  transition: all 250ms ease;
  transform: rotate(180deg)
}

.collapseIcon.open {
  transform: rotate(360deg);
  color: var(--white);
}

.selected {
  color: var(--white);
}
