#ilustrationWrapper {
  overflow: hidden;
  position: relative;
  z-index: 0;
}

@media only screen and (max-width: 1024px) {
  #ilustrationWrapper {
    width: 100vw;
    height: 100vh;
  }
}

@media only screen and (max-width: 750px) {
  #ilustrationWrapper {
    display: none;
  }
}