#profileDisplay {
  width: 250px;
  font-size: 18px;
  color: var(--primary-text);
  background-color: var(--background-dark);
  padding: 10px 20px;
  border-radius: 16px;
  cursor: pointer;
  text-decoration: none;

  transition: border-color 0.2s ease;
  border: solid 3px transparent;

  display: flex;
  flex-direction: column;
}

#profileDisplay h2 {
  font-size: 25px;
  color: var(--white);
}

#profileDisplay:hover, #profileDisplay.active {
  border-color: var(--primary-green);
}