/* Find */
#find {
  display: flex;
  flex-direction: row;
}

/* Wrapper */
#wrapper {
  padding: 40px;
  width: min(1000px, 100%);
  margin: 0 auto;

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

/* Wrapper header */
#wrapper header {
  width: 100%;

  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 15px;
}

#wrapper .select {
  background-color: var(--background-light);
  width: min(240px, 100%);
  font-size: 18px;
}

/* Divider */
#wrapper .divider {
  background: var(--primary-purple);
  width: 33%;
  height: 5px;
  margin: 30px auto;
  border-radius: 4px;
}

/* highlight */
.highlight {
  color: var(--primary-green);
}

/* Empty ilustration */
.emptyIlustration {
  background: var(--black);
  width: 100%;
  height: 600px;
  border-radius: 20px;
  color: var(--white);
  padding-top: 40px;
  position: relative;
  overflow: hidden;

  animation: fade 1s ease;
}

@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(40px);
  }
  to {
    opacity: 1;
    transform: translateY(0px);
  }
}

.emptyIlustration .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.emptyIlustration h4 {
  font-size: 30px;
}

.emptyIlustration h3 {
  background: var(--primary-green);
  display: inline-block;
  padding: 4px;
  border-radius: 4px;
  font-size: 20px;
}

.svg {
  width: 150px;
  position: absolute;
  animation: svg 3s ease;
}

@keyframes svg {
  from {
    transform: translateY(35px);
  }
  to {
    transform: translateY(0px);
  }
}

.earth {
  left: 30px;
  top: 35px;
}

.planet {
  left: -100px;
  bottom: -50px;
  width: 300px;
}

.saturn {
  top: 50%;
  right: -75px;
  width: 200px;
}

.phoebeSad {
  width: 200px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Phobos game */
.modalGame iframe {
  width: 100%;
  height: 700px;
}

.modalGame {
  width: 980px;
}