.overlay {
  width: 100vw;
  position: fixed;
  top: 0;
  bottom: 0;
  background: rgb(1, 1, 1, 0.3);
}

#modal {
  background: var(--background-light);
  padding: 30px;
  border-radius: 16px;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#modal .wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

#modal .closeButton {
  display: block;
  color: var(--secondary-text);
  cursor: pointer;
  margin-left: auto;
}