#modal {
  background: var(--background-light);
  padding: 10px;
  border-radius: 16px;
  max-height: calc(100vh - 20px);

  position: absolute;
  top: 50%;
  left: 50%;

  display: flex;
  flex-direction: column;

  opacity: 0;
  animation: modal-animation forwards 0.3s ease;
}

@keyframes modal-animation {
  0% {
    opacity: 0;
    transform: translate(-50%, calc(-50% - 10px));
  }
  100% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}

#modal header {
  color: var(--white);

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#modal header .title {
  font-size: 25px;
}