.addDocumentModal {
  width: min(100%, 800px);
}

.wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* fileLoadingList */
.fileLoadingList {
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
