.wrapper {
  margin-top: 15px;

  width: 100%;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

/* fileLoadingList */
.fileLoadingList {
  width: 280px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
