.addDocumentModal {
  width: min(100%, 800px);
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow-y: hidden;

  display: flex;
  flex-direction: column;
}

/* fileLoadingList */
.fileLoadingList {
  width: 100%;
  overflow-y: auto;

  display: flex;
  flex-direction: column;
  gap: 10px;
}