button {
  font-size: 25px;
  color: var(--white);
  background: var(--primary-green);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;

  transition: filter 350ms;
}

button:hover {
  filter: brightness(90%);
}

button.fullWidth {
  width: 100%;
}

button.disabled {
  cursor: default;
  opacity: 0.7;
}