:root {
  --white: #FFFFFF;

  --primary-text: #9093A7;
  --primary-green: #65D8AC;
  --primary-green-dark: rgb(73, 197, 149);
  --primary-red: #F27972; 
  --primary-purple: #B283E4;
  --primary-blue: #5255B4;
  
  --yellow: #FFDE94;
  --salmon: #F19691;
  --moon-crater: #ADB2C2;
  --black: #0D0E0F;

  --background-dark: #141740;
  --background-light: #3E4076;

  --secondary-text: #CBD0E1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

body {
  background: var(--background-dark);
  color: var(--primary-text);
}

:focus {
  outline: none;
}

.noScroll {
  overflow: hidden;
}