/* SidebarLink */
.sidebarLink {
  font-size: 25px;
  color: var(--white);
  text-decoration: none;
  
  display: flex;
  align-items: center;
  gap: 10px;
}

.active {
  color: var(--primary-green);
}

/* SidebarLinkList */
#sidebarLinkList {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 15px;
}

.sidebarLink {
  position: relative;

  transition: color 150ms ease;
}

.sidebarLink::after {
  content: "";
  width: 0;
  height: 3px;
  background: currentColor;
  border-radius: 4px;

  position: absolute;
  bottom: -2px;

  transition: width 200ms ease;
}

.sidebarLink:hover::after {
  text-decoration: underline;
  width: 100%;
}