.wrapper {
  width: 100%;
  max-width: 900px;
  margin: 0 auto;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

.searchHeader {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.searchResults {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* PublicDocumentBox */
.publicDocumentBox {
  background: var(--primary-blue);
  padding: 18px;
  border-radius: 16px;
  color: var(--secondary-text);
  font-size: 14px;

  display: flex;
  flex-direction: row;
  gap: 10px;
}

.publicDocumentBox .content {
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.publicDocumentBox header {
  width: 100%;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.publicDocumentBox .title {
  font-size: 18px;
  color: var(--white);
}

.publicDocumentBox .leftInfo {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.publicDocumentBox .rightInfo {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.publicDocumentBox .size {
  text-align: right;
  font-size: 14px;
  color: var(--secondary-text);

  display: flex;
  flex-direction: column;
}

.publicDocumentBox .starIcon {
  cursor: pointer;
  transition: color .4s;
}

.liked {
  color: var(--yellow);
}

.publicDocumentBox .stars {
  display: flex;
  flex-direction: column;
  color: white;
  align-items: center;
}

.publicDocumentBox .size span {
  color: var(--white);
}


/* PaginationBar */
.paginationBar {
  list-style: none;
  margin: 0 auto;

  display: flex;
  flex-direction: row;
  gap: 4px;
}

.paginationButton {
  width: 28px;
  height: 28px;
  background: var(--secondary-text);
  color: var(--primary-text);
  border-radius: 2px;
  font-size: 20px;
  cursor: pointer;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.currentPage {
  background: var(--primary-blue);
  color: var(--white);
}