:root {
  --white: #FFFFFF;
  --background-dark: #141740;
  --background-light: #3E4076;
  --primary-green: #65D8AC;
  --secondary-text: #CBD0E1;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Source Sans Pro', sans-serif;
}

html {
  background: url("../assets/background-universe.svg") no-repeat center center fixed; 
  background-size: cover;
}

body {
  background-repeat: no-repeat;
  background-size: cover;
}

#wrapper {
  height: 100vh;

  display: grid;
  grid-template-columns: 1fr 1fr;
}

/* Content */
#content {
  padding: 10px;
  background: var(--background-light);
  position: relative;
  
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#content #logo {
  cursor: pointer;
  position: absolute;
  top: 20px;
  left: 20px;
}

/* Content inner */
#contentInner {
  width: 100%;
  max-width: 450px;
  padding: 10px;
}

#contentInner #formTitle {
  color: var(--primary-green);
  font-size: 30px;
  text-align: center;
}

#contentInner #formTitle .big {
  display: block;
  font-size: 45px;
}

/* Form */
.fields {
  width: 100%;
  margin-top: 30px;

  display: flex;
  flex-direction: column;
  gap: 20px;
}

.fields .field label {
  font-size: 18px;
  color: var(--secondary-text);

  display: flex;
  flex-direction: column;
  gap: 5px;
}

.fields .field label input {
  font-size: 24px;
  color: var(--white);
  background: var(--background-dark);
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
}

button[type="submit"] {
  margin-top: 30px;
  width: 100%;

  font-size: 25px;
  color: var(--white);
  background: var(--primary-green);
  border-radius: 5px;
  padding: 10px;
  text-align: center;
  border: none;
  cursor: pointer;
}

#suggestion {
  font-size: 18px;
  color: var(--secondary-text);
  margin-top: 10px
}

#suggestion a {
  color: var(--primary-green);
  text-decoration: none;
}

/* Ilustration */
#ilustration {
  overflow: hidden;

  position: relative;
}

#ilustration #planets {
  position: absolute;
  left: 700px;
  top: 50%;
  transform: translate(-50%, -50%);
}


#ilustration #phoebeAstronaut {
  position: absolute;
  top: 45%;
  left: 320px;
  transform: translate(-50%, -50%) rotate(15deg);
}