#planets {
  position: absolute;
  left: 600px;
  top: 50%;
  transform: translate(-50%, -50%);
}

#phoebeAstronaut {
  position: absolute;
  top: 45%;
  left: 220px;
  transform: translate(-50%, -50%) rotate(15deg);
}

/* Media query */
@media only screen and (max-width: 1024px) {
  #planets {
    width: 100px;
    left: 50%;
    top: 20px;
    transform: none;
  }
  
  #phoebeAstronaut {
    width: 80px;

    top: auto;
    bottom: -10px;
    left: 50%;
    transform: rotate(15deg);
  }
}